:root {

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    
    --color-white: #fff;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --transition-primary: all 300ms ease-in-out;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
    color: var(--color-dark-text);
}